*{
margin: 0;
padding: 0;
}

.container{
    text-align: center;
}
body{
    background-color: cadetblue;
}
h1{
    font-family: 'Lobster',cursive;
    font-size: 3em;
    color:aquamarine;

}
.dice{
    text-align: center;
    display:inline-block;
    margin: 100px 0;
}
.Img1
{
    width:80%;
}
p{
    font-size: 2rem;
    color:rgb(5,54,160);
    font-family: 'Indie Flower',cursive;
}